<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        ">

<!--    <context:component-scan base-package="com.etc.service" ></context:component-scan>-->
<!--	<bean id="apple" class="com.etc.overed.lookupmethod.Apple" ></bean>-->
<!--	<bean id="b" class="com.etc.overed.lookupmethod.B" ></bean>-->

<!--	<bean id="lookUPT" class="com.etc.overed.lookupmethod.LookUPT">-->
<!--		<lookup-method bean="apple" name="getABpple"></lookup-method>-->
<!--		<lookup-method bean="b" name="getABpple"></lookup-method>-->
<!--	</bean>-->

    <bean id="prizeUser" class="com.etc.entity.PrizeUser" ></bean>
	<bean id="myBeanPostProcessor" class="com.etc.entity.MyBeanPostProcessor"></bean>
<!--	<bean id="prizeGame" class="com.etc.entity.PrizeGame" ></bean>-->
<!--	<bean id="myCustomFactoryBean" class="com.etc.facbean.MyCustomFactoryBean"/>-->

</beans>